* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navigation {
  position: absolute;
  width: 100vw;
  height: 4.5rem;
  background: #444;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .logo {
  cursor: pointer;
}

.navigation .logo span {
  text-transform: uppercase;
  padding: 0 10px;
  color: #eee;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.navigation .list-group {
  display: flex;
}

.navigation .list-group .list-group-item {
  padding: 1rem;
  list-style: none;
}

.navigation .list-group .list-group-item .link {
  text-decoration: none;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.navigation .list-group .list-group-item .link:hover {
  opacity: 0.7;
  transition: .3s ease;
}

.navigation .smallNav {
  display: none;
}

.navigation .hamburger {
  display: none;
}

.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: url("../background.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #444;
  opacity: 0.8;
}

.container .section-1 {
  position: absolute;
  z-index: 2;
  color: #eee;
  line-height: 1.2;
  padding-left: 20px;
}

.container .section-1 h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container .section-1 p {
  max-width: 500px;
}

.container .section-2 {
  position: absolute;
  z-index: 2;
  padding-left: 20px;
  margin-top: 12rem;
}

.container .section-2 .readBtn {
  padding: 10px 20px;
  background: none;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  color: #eee;
  transition: .5s ease;
}

.container .section-2 .readBtn:hover {
  background: #eee;
  color: #333;
  border-color: #333;
}

@media (max-width: 700px) {
  .navigation .list-group {
    display: none;
  }
  .navigation .smallNav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    width: 200px;
    background: rgba(20, 20, 20, 0.7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideDown .3s ease-in;
    overflow-x: hidden;
  }
  .navigation .smallNav li {
    list-style: none;
    padding: 2rem;
  }
  .navigation .smallNav li a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .1s ease-in;
  }
  .navigation .smallNav li a:hover {
    opacity: 0.6;
  }
  .navigation .smallNav .slide-up {
    animation: slideUp .3s ease-in;
    display: none;
  }
  @keyframes slideDown {
    from {
      transform: translateX(150px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }
  .navigation .hamburger {
    display: flex;
    padding-right: 15px;
    cursor: pointer;
  }
  .navigation .hamburger i {
    font-size: 1.8rem;
    color: #eee;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
  .container .section-1 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container .section-1 h1 {
    margin-bottom: 1rem;
  }
  .container .section-1 p {
    max-width: 80vw;
  }
}
/*# sourceMappingURL=style.css.map */